/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* element Selectors */
body {
  background-color: #584f69;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}
/* class Selectors */
.header {
  padding: 20px;
  background-color: white;
  color: #584f69;
  width: 100%;
}
.header .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header div {
  display: flex;
  align-items: center;
}

.header h1 {
  display: inline-block;
  font-size: 40px;
  text-align: right;
}

.menu-icon {
  display: none;
}

/* Navigation */
.header nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  padding-right: 20px;
  text-decoration: none;
}

a {
  color: #584f69;
}

p {
  font-size: 24px;
  color: whitesmoke;
}

.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/headerimage.png");
  background-size: cover;
  background-position: center; 
}

.hero .wrapper{
  position: relative;
  height: 100%;
}

.hero h2 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #584f69;
  padding: 8px;
  color: whitesmoke;
}

.content {
  width: 100%;
  padding: 20px 0;
  padding-left: 100px;
}

.row {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 40px;
}

.left {
  border-right: 10px #fad6a5 solid;
  width: 35%;
}

.right {
  width: 65%;
}
.headings {
  font-size: 60px;
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
  color: whitesmoke;
}



/*Work section*/
.work-right {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.first-row {
  width: 100%;
  position: relative;
}

.first-row a {
  display: block;
  width: 100%;
}

.first-row img {
  width: 100%;
  height: auto;
}

.first-row-text {
  position:absolute;
  bottom: 20px;
  padding: 10px;
  background-color: #584f69;
}
.second-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.project-item {
  width: 48%;
  padding-top: 20px;
  position: relative;
}

.project-item img {
  width: 100%;
  height: 200px;
}

.project-item-title {
  position: absolute;
  bottom: 10px;
  background-color: #584f69;
  padding: 10px;
}
.subtitles {
  font-size: 30px;
  color: whitesmoke;
}

.description {
  font-size: 16px;
  color: whitesmoke;
  padding-bottom: 15px;
}


/* contact Me*/
#contact-me-container {
  display: flex;
  padding-bottom: 20px;
  gap: 10px;
}

.contact-me-right {
  font-size: 20px;
  padding-left: 20px;
  /* width: 400px; */
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  .menu-icon {
    display: block;
  }
  .header nav {
    font-size: 20px;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  header {
    height: auto;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .header {
    height: auto;
    text-align: center;
  }
}