/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* element Selectors */
body {
  background-color: #584f69;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.page-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* class Selectors */
.header {
  padding: 20px;
  background-color: white;
  color: #584f69;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header div {
  display: flex;
  align-items: center;
}

.header h1 {
  display: inline-block;
  font-size: 40px;
  text-align: right;
}

/* Navigation */
.header nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  padding-right: 20px;
  text-decoration: none;
}

a {
  color: #584f69;
}

p {
  font-size: 24px;
  color: whitesmoke;
}

.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/headerimage.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero h2 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #584f69;
  padding: 8px;
  color: whitesmoke;
}

.content {
  width: 100%;
  padding: 20px 0;
  padding-left: 100px;
}

.row {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 40px;
}

.left {
  border-right: 10px #fad6a5 solid;
  width: 35%;
}

.right {
  width: 65%;
}
.headings {
  font-size: 60px;
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
  color: whitesmoke;
}

.subtitles {
  font-size: 40px;
  color: whitesmoke;
}

.description {
  font-size: 20px;
  color: whitesmoke;
  padding-bottom: 15px;
}

/*About Me section*/
/* #about-me-container {
  display: flex;
  padding-bottom: 20px;
} */

.about-me-left,
.work-left,
.contact-me-left {
  /* padding-left: 20px; */
}
.about-me-right {
  /* padding-left: 20px;
  width: 70%;
  font-size: 24px; */
}

/* Work Section */
#work-container {
  
}

.work-right {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.second-row,
.third-row {
  display: flex;
}

.second-row-column1,
.second-row-column2,
.third-row-column1,
.third-row-column2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 20px;
}

.second-row-column2,
.third-row-column2 {
  padding-left: 20px;
}

/* contact Me*/
#contact-me-container {
  display: flex;
  padding-bottom: 20px;
}

.contact-me-right {
  font-size: 20px;
  padding-left: 20px;
  /* width: 400px; */
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  nav {
    /* background: #772014; */
    /* flex-direction:wrap; */
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  header {
    height: auto;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .header {
    height: auto;
    text-align: center;
  }
}