/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* element Selectors */
body {
  background-color: #584f69;
}
/* class Selectors */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: white;
  color: #584f69;
}

.header h1 {
  display: inline-block;
  font-size: 40px;
  text-align: right;
}

.header nav {
  /* padding-top: 15px; */
  /* margin-right: 20px; */
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
}
/* Navigation */
.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: none;
}

a {
  color: #584f69;
}

p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/headerimage.png");
  background-size: cover;
  background-position: center;
}
.content {
  width: 80%;
  /* marging: top right bottom left 
    margin: top-bottom left-right;
    */
  margin: 0 auto;
}
.left {
  border-right: 10px #fad6a5 solid;
  width: 30%;
  color: #584f69;
}
.headings {
  font-size: 60px;
  color: whitesmoke;
}

.subtitles {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: whitesmoke;
}
.description {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  padding-bottom: 15px;
}
/*About Me section*/
#about-me {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 32px;
  color: #ffffff;
}
#about-me-container {
  display: flex;
  padding-bottom: 20px;
}

.about-me-right p {
  font-size: 20px;
}

.about-me-right {
  padding-left: 20px;
  width: 70%;
}
/* Work Section */
#work-container {
  display: flex;
  padding-bottom: 40px;
}
.work-right {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 70%;
  color: #ffffff;
}

.second-row {
  display: flex;
}
.second-row-column1 {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  /* padding-left: 20px; */
  width: 70%;
}

.second-row-column2 {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  width: 70%;
}
.third-row {
  display: flex;
}
.third-row-column1 {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  /* padding-left: 20px; */
  width: 70%;
}
.third-row-column2 {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  width: 70%;
}

/* contact Me*/
#contact-me {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 32px;
  color: #ffffff;
}
#contact-me-container {
  display: flex;
  padding-bottom: 20px;
}
.contact-me-right {
  font-size: 20px;
  padding-left: 20px;
  width: 70%;
  /* margin-left: 10px; */
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  nav {
    background: #772014;
    /* flex-direction: column; */
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  header {
    height: 115px;
  }
  
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  header {
    height: 115px;
  }
}
